<p *ngIf="isLoading">
    Loading courses...
</p>

<p *ngIf="isLoading">
    Loading courses...
</p>

<p *ngIf="errorMessage">
    {{ errorMessage }}
</p>

<div *ngIf="!isLoading; else noCourses">

    <ng-container *ngFor="let c of courses; trackBy: trackByCourseId">

        <app-course-card
            [course]="c"
            (enrollRequested)="onEnroll($event)">
        </app-course-card>

        <a [routerLink]="['/courses', c.id]">
            View Details
        </a>

        <br><br>

    </ng-container>

</div>

<ng-template #noCourses>

    <p>No courses available.</p>

</ng-template>

<p *ngIf="selectedCourseId">

    Selected Course ID :
    {{ selectedCourseId }}

</p>